@import "../../Breakpoints";
@import "../../Variables";

.home-img-container {
  height: 100%;
}

@media (min-width: 700px) {
  .home-img-container {
    display: flex;
    flex-direction: row;
  }
}

.img-text-container {
  width: 100%;
  height: 100%;
}

.img-gradient-container {
  height: 100%;
  width: 100%;
  position: relative;
}

div.gradient {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    to right,
    transparent,
    $default-linear-gradient
  );
  position: absolute;
  width: 100%;
  height: 100%;
}

img.img-main {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sub-text {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
