@import "../../Breakpoints";
@import "../../Variables";

.contact-info-form-container {
  align-items: center;
  border-style: dashed;
  border-color: aqua;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: $default-container-margin-top-bottom;
}

@include media-query((xs-device, sm-device)) {
  .contact-info-form-container {
    flex-direction: column;
  }
}
