
/* mobile screen sizes */
@media(max-width:768px){
    .CTA-link-container {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .CTA {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        direction: column;
        padding: 5px;
    }
}

/* MD screen sizes */
@media(min-width:768px) and (max-width:1024px){
    .CTA-link-container {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .CTA {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Desktop screen sizes */
@media(min-width: 1024px){
    .CTA-link-container {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .CTA {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}