.hamburger-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.hamburger-menu-bar-container {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: 5%;
}

.hamburger-bar {
    width: 4em;
    height: 0.5em;
    background-color: teal;
    border-radius: 0.5em;
}

.menu {
    width: 50%;
    height: 500px;
    background-color: pink;
}

/* hamburger menu visibility */
.hidden {
    display: none;
}

.visible {
    display: inherit;
    border-style: dotted;
    border-color: orange;
    position: absolute;
    top: 5em;
    z-index: 1;

}

/* animations */
.hamburger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.65em, 1.25em);

    transition: ease-out 0.5s;

}

.hamburger-bar.clicked:nth-child(2) {
    transform: scale(0.01);
    transition: ease-out 0.5s;
}

.hamburger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.65em, 1.25em);
    transition: ease-out 0.5s;
}

.hamburger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.25, 0.5, 0.25, 1.75) 0.5s;
}