.hero-text {
  margin: 0;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: 0 calc(-4% * (max(var(--scroll), 2) - 2) * 100 / 98);
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 50px 100px 10px rgba(0, 0, 0, 0.1);

  background: linear-gradient(
    to top,
    rgb(255, 255, 255) calc(20% + (30% * var(--scroll))),
    rgb(0, 128, 128) 200%
  )
}

/* default to zero incase js script fails */
:root {
  --scroll: 0;
}

