/* mobile screen sizes */
@media (max-width: 768px) {
  .img-container {
    opacity: calc( 1 - (var(--scroll) * .05 ));
  }

  .img-hero {
    margin: 50px;
    height: 50vh;
    translate: 0 calc(-1.5% * (max(var(--scroll), 2) - 2) * 100 / 98);
  }
}

/* MD screen sizes */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Desktop screen sizes */
@media (min-width: 1024px) {
}

/* default to zero incase js script fails */
:root {
  --scroll: 0;
}
