/* mobile screen sizes */
@media (max-width: 768px) {
  .img-slider-container {
    height: 350px;
    width: 100%;
    background-color: rgb(249, 244, 245);
    position: relative;

  }
  .img-text {
    position: absolute;
    right: 5px;
    top: 15%;
    font-size: 2em;
  }
}

/* Tablet sizes */
@media (min-width: 768px) and (max-width: 1024px) {
  .img-slider-container {
    height: 500px;
    width: 100%;
    background-color: rgb(249, 244, 245);
    position: relative;
  }

  .img-text {
    position: absolute;
    right: 20px;
    top: 15%;
    font-size: 3em;
  }
}

/* Desktop sizes */
@media (min-width: 1024px){
  .img-slider-container {
    height: 750px;
    width: 100%;
    background-color: rgb(249, 244, 245);
    position: relative;
  }

  .img-text {
    position: absolute;
    right: 50px;
    top: 15%;
    font-size: 5em;
  }
}

.img-gradient-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, transparent, white);
  position: absolute;
}

.img-main {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  object-fit: cover;
}
