/* mobile screen sizes */
@media (max-width: 768px) {
  .img-hero {
    width: 98vw;
    translate: 0 calc(-1% * (max(var(--scroll), 2) - 2) * 100 / 98);
  }
}

/* MD screen sizes */
@media (min-width: 768px) and (max-width: 1024px) {
  .img-hero {
    height: 60vh;
    translate: 0 calc(-1% * (max(var(--scroll), 2) - 2) * 100 / 98);
  }
}

/* Desktop screen sizes */
@media (min-width: 1024px) {
  .img-hero {
    height: 70vh;
    translate: 0 calc(-1% * (max(var(--scroll), 2) - 2) * 100 / 98);
  }
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: calc( 1 - (var(--scroll) * .025 ));

}

/* default to zero incase js script fails */
:root {
  --scroll: 0;
}
