@import "../../_Breakpoints";
@import "../../_Variables";

form {
  max-width: 750px;
  width: 80%;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.sendMessageTitle {
  display: flex;
  justify-content: center;
}

.text-muted {
  color: $default-light-gray !important;
}

.textArea {
  max-height: 300px;
}

.form-label-error {
  color: $default-error-red;
}

@include media-query((xs-device, sm-device)) {
  .sendMessageTitle {
    padding-top: 30px !important;
  }
}
