@import "../../Breakpoints";
@import "../../Variables";

section {
  margin: 20px 0 20px 0;
}

.contact-info {
  margin: 10px;
}

div.contact-info {
  background-color: #d9dcd6;
  text-align: center;
  width: 50%;
  padding: 10px;
}

@include media-query((xs-device, sm-device)) {
  div.contact-info {
    width: 90%;
  }
}
