// colors
$default-teal: teal;
$default-error-red: rgb(212, 5, 5);
$default-light-gray: rgb(218, 214, 214);

// spacing
$default-container-margin: 50px;
$default-container-margin-top-bottom: $default-container-margin 0
  $default-container-margin 0;

// screen / devices sizes
$device-sizes: "xs-device", "sm-device", "md-device", "lg-device", "xl-device";
$default-max-width: 1200px;
