// colors
$default-teal: teal;

// spacing
$default-container-margin: 50px;
$default-container-margin-top-bottom: $default-container-margin 0
  $default-container-margin 0;

// screen / devices sizes
$device-sizes: "xs-device", "sm-device", "md-device", "lg-device", "xl-device";
$default-max-width: 1200px;
