@import "../../Breakpoints";
@import "../../Variables";

.contact-info-form-container {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

@include media-query((xs-device, sm-device)) {
  .contact-info-form-container {
    flex-direction: column;
  }
}
