@import "../../Variables";

.nav-bar-container {
  background-color: rgb(238, 229, 233);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 5em;
  position: sticky;
  top: 0;
  z-index: 1;
}
