// colors
$default-teal: teal;
$default-error-red: rgb(212, 5, 5);
$default-light-gray: rgb(218, 214, 214);
$default-white: rgb(255, 255, 255);
$default-black: rgb(0, 0, 0);
$default-linear-gradient: rgba(255, 255, 255, 0.67);
$default-whitesmoke: whitesmoke;

// spacing
$default-container-margin: 50px;
$default-container-margin-top-bottom: $default-container-margin 0
  $default-container-margin 0;

// screen / devices sizes
$device-sizes: "xs-device", "sm-device", "md-device", "lg-device", "xl-device";
$default-max-width: 1200px;

$device-breakpoint-zero: 0px;
$device-breakpoint-xs: 320px;
$device-breakpoint-sm: 576px;
$device-breakpoint-md: 768px;
$device-breakpoint-lg: 992px;
$device-breakpoint-xl: 1200px;
