// define min/max width breakpoints for device sizes
$device-breakpoints: (
  xs-device: (
    max: 576px,
  ),
  sm-device: (
    min: 577px,
    max: 768px,
  ),
  md-device: (
    min: 769px,
    max: 992px,
  ),
  lg-device: (
    min: 993px,
    max: 1200px,
  ),
  xl-device: (
    min: 1201px,
  ),
);

// return media query for provided device size
@mixin media-query($device-size) {
  $media-query: null;
  $min-width: null;
  $max-width: null;

  $device-breakpoint-config: map-get($device-breakpoints, $device-size);

  // if device-breapoint-config returned, set min/max width
  @if $device-breakpoint-config {
    $min-width: if(
      map-has-key($device-breakpoint-config, min),
      map-get($device-breakpoint-config, min),
      null
    );
    $max-width: if(
      map-has-key($device-breakpoint-config, max),
      map-get($device-breakpoint-config, max),
      null
    );
  }

  // generate media query
  @if $min-width and $max-width {
    $media-query: "(min-width: #{$min-width}) and (max-width: #{$max-width})";
  } @else if $min-width {
    $media-query: "(min-width: #{$min-width})";
  } @else if $max-width {
    $media-query: "(max-width: #{$max-width})";
  }

  // set media query content if generated, else throw error
  @if $media-query {
    @media #{$media-query} {
      @content;
    }
  } @else {
    @error "No valid media query found for #{$breakpoint}.";
  }
}
