@import "../../_Breakpoints";
@import "../../Variables";

section {
  margin: 15px 0 15px 0;
}

.contact-info {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  max-width: 500px;
}
div.contact-info {
  background-color: #d9dcd6;
  text-align: center;
  width: 50%;
}
@media (min-width: $device-breakpoint-zero) and (max-width: $device-breakpoint-md) {
  div.contact-info {
    width: 90%;
  }
}
