@import "../../_Breakpoints";
@import "../../Variables";

section {
  margin: 15px 0 15px 0;
}

.contact-info {
  margin: 15px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

div.contact-info {
  background-color: #d9dcd6;
  text-align: center;
  width: 50%;
}
